<ion-card
  [id]="item.id"
  [class.active]="isOpenEditFoodStuff"
  (click)="setActive($event)"
>
  <ion-card-content>
    <swiper
      [slidesPerView]="1"
      [keyboard]="true"
      [pagination]="{
        clickable: true
      }"
      [zoom]="true"
      [loop]="true"
      [navigation]="true"
      effect="flip"
    >
      <ng-template swiperSlide>
        <img src="/assets/images/no-food-stuff-placeholder.png">
        <div class="food-stuff-group-container">
          <img [src]="'assets/icon/food-stuff-groups/'+item.group.toLowerCase()+'_placeholder.png'"/>
        </div>
        <main>
          <ion-card-title>
            <h1>{{item.name}}</h1>
          </ion-card-title>
          <div>
            <span class="amount">
              x {{item.units | foodStuffUnitsOfMeasure : item.amount }}
            </span>
          </div>
        </main>
      </ng-template>

      <ng-template swiperSlide>
        <div class="foodStuffCardInfo">
          <div class="foodAmountInMenu">
            <span>En menú: </span>
            <span> x 0</span>
          </div>
          <div class="foodExpirationDate">
            <ion-icon name="calendar-clear-outline"></ion-icon>
            <span>Caducidad:</span>
            <span [ngClass]="{
              'expirationTypeGreen': item.expirationType.toLowerCase() === 'imperisable',
              'expirationTypeLime': item.expirationType.toLowerCase() === 'long-lasting',
              'expirationTypeYellow': item.expirationType.toLowerCase() === 'short-lasting',
              'expirationTypeRed': item.expirationType.toLowerCase() === 'day-lasting'
            }">
              {{item.expirationType | foodStuffExpirationTypeWithEstimatedDate}}
            </span>
          </div>
          <div class="foodStoragePlace">
            <span>Almacenado en:</span>
            <img [src]="'assets/icon/'+item.storagedIn.toLowerCase()+'.png'"/>
            {{item.storagedIn | foodStuffStorage}}
          </div>
        </div>
        <!-- <p>Cantidad: {{item.units | foodStuffUnitsOfMeasure : item.amount }}</p>
        <p class="paragraph-vertical-align-icon">
          <ion-icon name="time-outline"></ion-icon>
          <span class="small-space-horizontal-separation">Duración: </span>
          <span [ngClass]="{
            'expirationTypeGreen': item.expirationType === 'Imperisable',
            'expirationTypeLime': item.expirationType === 'Long-lasting',
            'expirationTypeYellow': item.expirationType === 'Short-lasting',
            'expirationTypeRed': item.expirationType === 'Day-lasting'
          }">
            {{item.expirationType | foodStuffExpirationType}}
          </span>
        </p> -->
      </ng-template>
    </swiper>
  </ion-card-content>
</ion-card>

<ion-popover
  [isOpen]="isOpenEditFoodStuff"
  (didDismiss)="unsetActive()"
  [trigger]="item.id"
  size="cover"
  side="bottom"
  alignment="center"
>
  <ng-template>
    <ion-content class="panel-edit-food-stuff">
      <ion-button
        shape="round"
        size="small"
        color="primary"
        (click)="onClickViewDetail()"
      >
        <ion-icon slot="icon-only" name="open-outline"></ion-icon>
      </ion-button>
      <ion-button
        shape="round"
        size="small"
        color="secondary"
      >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        shape="round"
        size="small"
        color="danger"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-content>
  </ng-template>
</ion-popover>

<!------------------------------------------------------------------
  <ion-card-header>
    <ion-chip color="tertiary" [outline]="true">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label> {{item.group | foodStuffGroup}}</ion-label>
    </ion-chip>
    <ion-card-title>
      <h2>{{item.name}}</h2>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Cantidad: {{item.units | foodStuffUnitsOfMeasure : item.amount }}</p>
    <p class="paragraph-vertical-align-icon">
      <ion-icon name="time-outline"></ion-icon>
      <span class="small-space-horizontal-separation">Duración: </span>
      <span [ngClass]="{
        'expirationTypeGreen': item.expirationType === 'Imperisable',
        'expirationTypeLime': item.expirationType === 'Long-lasting',
        'expirationTypeYellow': item.expirationType === 'Short-lasting',
        'expirationTypeRed': item.expirationType === 'Day-lasting'
      }">
        {{item.expirationType | foodStuffExpirationType}}
      </span>
    </p>
  </ion-card-content> -->

  <!-- <ion-card-content>
    <div style="width: 100%; height: 190px; background-color: var(--ion-item-background)">
      <swiper
        [slidesPerView]="1"
        [keyboard]="true"
        [pagination]="{
          clickable: true
        }"
        [zoom]="true"
        [loop]="true"
        [navigation]="true"
        effect="flip"
      >
        <ng-template swiperSlide>
          <img src="/assets/images/no-food-stuff-placeholder.png">
        </ng-template>
        <ng-template swiperSlide>
          <ion-card-title>
            <h1>{{item.name}}</h1>
          </ion-card-title>
          <div>
            <span class="amount">
              x {{item.units | foodStuffUnitsOfMeasure : item.amount }}
            </span>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <span>
            <ion-icon name="calendar-clear-outline"></ion-icon>
          </span>
          <span [ngClass]="{
            'expirationTypeGreen': item.expirationType === 'Imperisable',
            'expirationTypeLime': item.expirationType === 'Long-lasting',
            'expirationTypeYellow': item.expirationType === 'Short-lasting',
            'expirationTypeRed': item.expirationType === 'Day-lasting'
          }">
            {{item.expirationType | foodStuffExpirationType}}
          </span>
        </ng-template>
      </swiper>
    </div>
  </ion-card-content>
</ion-card> -->
