ion-card {
  height: auto;
  cursor: pointer;
  margin-inline: 0;
  transition: all 0.25s ease-in-out;
  width: 100%;

  &:hover, &.active {
    transform: scale(1.1);
    box-shadow:
      rgb(0 0 0 / 40%) 0px 8px 7px 2px,
      rgb(0 0 0 / 35%) 0px 4px 4px 1px,
      rgb(0 0 0 / 25%) 0px 2px 6px 0px
  }

  &.active {
    border: solid 1px var(--ion-color-primary-shade);
  }

  & > ion-card-content {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;

    &.card-content-md {
      padding-inline-start: 14px;
    }

    & > img {
      height: 70px;
      min-width: 70px;
      width: 70px;
      margin-right: 1rem;
    }

    & > div.food-stuff-group-container {
      position: absolute;
      border: solid 2.5px var(--ion-color-tertiary);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      left: 60px;
      bottom: 10px;
      overflow: clip;

      & > img {
        width: 25px;
        height: 25px;
      }
    }

    & > main {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;

      & > ion-card-title {
        height: 50px;

        & > h1 {
          height: 48px;
          line-height: 1;
        }
      }

      & > div {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        & > ion-button#open-edit-food-stuff-button {
          & > ion-icon {
            font-size: 18px;
          }
        }
      }
    }
  }
}

ion-content.panel-edit-food-stuff {

  & .button-small {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }

   & > ion-button {
    height: 35px;
    width: 35px;
    margin: 0 calc(16.6% - 17.5px);

    //margin: 0 15%;
//     --padding-start: 2px;
//     --padding-end: 2px;
//     height: 25px;
//     width: 25px;

//     &:first {
//       margin-right: 10px;
//     }

//     ion-icon {
//       font-size: 18px;
//     }
  }
}
