<h1>Mi frigorífico</h1>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi frigorífico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-flow: column nowrap;">
    <span>
      <b>Food selected is</b> {{ activeFood$ | async }}
    </span>
    <span>
      <b>Food expiration types:</b> {{ foodExpirationTypes$ | async | json }}
    </span>
    <span>
      <b>Food groups:</b> {{ foodGroups$ | async | json }}
    </span>
    <span>
      <b>Food storage places:</b> {{ foodStoragePlaces$ | async | json }}
    </span>
  </div>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col
          size="6"
          size-sm="6"
          size-md="4"
          size-lg="4"
          size-xl="3"
          *ngFor="let foodItem of items$ | async"
        >
        <!-- size-md="4"
          size-lg="3" -->
          <app-food-stuff-card
            [item]="foodItem"
          >
          </app-food-stuff-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>

<ion-modal
  #detailModal
  [isOpen]="openFoodStuffDetails$ | async"
  (willDismiss)="closeDetailModal()"
>
  <ng-template>
    <app-detail-food-stuff class="ion-page" [item]="activeFood$ | async">
    </app-detail-food-stuff>
  </ng-template>
</ion-modal>
