.expirationTypeGreen {
  color: #1ca865;
}

.expirationTypeLime {
  color: #7bb411;
}

.expirationTypeYellow {
  color: #cfaa06;
}

.expirationTypeRed {
  color: #9b0e04;
}

#container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;

  app-food-stuff-card {
    height: 110px;
    margin: 5px 2.5%;
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {

  #container {
    ion-card {
      width: 100%;
      min-width: auto;

      ion-card-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    }
  }
}
