<ion-header>
  <ion-toolbar>
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal($event)"
      >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="4">
      <img src="/assets/images/no-food-stuff-placeholder.png">
    </ion-col>
    <ion-col class="col-form" size="8">
      <form [formGroup]="detailFoodForm">
        {{item | json}}
        <div>
          <p style="border: dashed 0.5px green">
            {{foodGroups$ | async | json}}
          </p>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-label>Grupo</ion-label>
              </ion-row>
              <ion-row>
                <ion-select
                  formControlName="group"
                  interface="popover"
                  placeholder="Selecciona grupo"
                  [value]="item.group"
                  [compareWith]="foodGroupsCompareWith"
                  (ionChange)="foodGroupsChange($event)"
                >
                  <ion-select-option
                    [value]="g"
                    *ngFor="let g of foodGroups$ | async"
                  >
                    {{g.name | foodStuffGroup}}
                  </ion-select-option>
                </ion-select>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
        <div>
          <p style="border: dashed 0.5px green">
            {{foodExpirationTypes$ | async | json}}
          </p>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-label>Caducidad</ion-label>
              </ion-row>
              <ion-row>
                <ion-select
                  formControlName="expirationType"
                  interface="popover"
                  placeholder="Selecciona tipo de caducidad"
                  [value]="item.expirationType"
                  [compareWith]="foodExpirationTypesCompareWith"
                  (ionChange)="foodExpirationTypeChange($event)"
                >
                  <ion-select-option
                    [value]="et"
                    *ngFor="let et of foodExpirationTypes$ | async"
                  >
                    {{et.name | foodStuffExpirationType}}
                  </ion-select-option>
                </ion-select>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </form>
    </ion-col>
  </ion-row>

  <!-- <ion-item>
    <ion-label position="floating">Grupo</ion-label>
    <img [src]="'assets/icon/food-stuff-groups/'+item.group.toLowerCase()+'_placeholder.png'"/>
    <ion-input type="text" disabled="true" readonly="true">{{item.group | foodStuffGroup}}</ion-input>
  </ion-item> -->
</ion-content>

<div>
  {{ detailFoodForm.value | json }}
  <!-- <p>{{ getName | json }}</p>
  <p>{{ getUnits | json }}</p>
  <p>{{ getGroup | json }}</p>
  <p>{{ getExpirationType | json }}</p>
  <p>{{ getExpirationDate | json }}</p>
  <p>{{ getStoragedIn | json }}</p> -->
</div>

<!--
<ion-card
  *ngIf="item"
  [id]="item.id"
>
  <ion-card-header>
    <img src="/assets/images/no-food-stuff-placeholder.png">
    <ion-card-title>
      <h1>{{item.name}}</h1>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <div class="food-stuff-group-container">
      <ion-chip>
        <ion-avatar>
          <img [src]="'assets/icon/food-stuff-groups/'+item.group.toLowerCase()+'_placeholder.png'"/>
        </ion-avatar>
        <ion-label> {{item.group | foodStuffGroup}}</ion-label>
      </ion-chip>
    </div>

    <main>
      <p class="paragraph-vertical-align-icon">
        <span class="amount">
          <ion-icon name="layers-outline"></ion-icon>
          <span class="small-space-horizontal-separation">
            Cantidad: x {{item.units | foodStuffUnitsOfMeasure : item.amount }}
          </span>
        </span>
      </p>
      <p class="paragraph-vertical-align-icon">
        <img class="placeholder-icon" src="/assets/icon/expiration_type.png">
        <span class="small-space-horizontal-separation">Duración: </span>
        <span [ngClass]="{
          'expirationTypeGreen': item.expirationType === 'Imperisable',
          'expirationTypeLime': item.expirationType === 'Long-lasting',
          'expirationTypeYellow': item.expirationType === 'Short-lasting',
          'expirationTypeRed': item.expirationType === 'Day-lasting'
        }">
          {{item.expirationType | foodStuffExpirationType}}
        </span>
      </p>
    </main>
  </ion-card-content>
</ion-card> -->
